ul {
    text-align: right;
    font-size: 25px;
    color: #5c636a;
  }
  li {
    list-style: none;
    font-size: 25px;
    color: #5c636a;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
  }