.icons {
    color: grey;
    font-size: 12px;
    text-align: center;
  }
  
  #temperature-description {
    display: inline;
    color: #5c636a;
    font-size: 24px;
  }
  
  #current-stats {
    display: block;
    font-size: 15px;
    height: 20px;
    line-height: 19px;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 9;
  }
  #temperature {
    display: block;
    position: relative;
    left: 0px;
    color: #5c636a;
    font-size: 24px;
  }
  